body {
    background-color: rgb(56, 61, 66);
    overflow: hidden;
}

h3 {
    color: white;
    margin-top: 50px; /* Đẩy tiêu đề xuống phía dưới */
}
.number-row {
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s ease-out;
}
.number-cell {
    outline: 10px gray;
    color: black;
    font-size: 225px;
    white-space: nowrap;
    width: 250px; /* Đủ rộng để chứa số và hình ảnh */
    height:300px;
    display: flex; /* Hiển thị số và hình ảnh theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Căn hình ảnh và số một cách đều */
    padding: 0 25px; /* Khoảng cách giữa số và hình ảnh */
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-shadow: -3px -3px 0 gray, 3px -3px 0 gray, -3px 3px 0 gray, 3px 3px 0 gray;
}

.empty-cell {
    left: 0;
}

.scroll-right{
    outline:0 !important;
    text-align: left;
    transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -webkit-transition: all 400ms ease-out;
    position: relative;
    border-radius: 12px;
    left: 98%;
    bottom: 250px;
    opacity: 0.1;
    width: 150px;
    height: 204px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.scroll-right:hover {
    opacity:1;
    margin-left: -20px; 
  }
.overflow-container {
    width: 2500px;
    overflow: hidden;
    position: relative;
}

.pop-up {
    position: fixed;
    bottom: 50px;
    opacity: 1;
    left: 540px;
    width: 409px;
    height: 578px;
    background-color: darkgray;
    padding: 10px;
    display: none;
    transition: all 0.3s ease-in-out;
}